---
import BaseLayout from '@layouts/BaseLayout.astro';
import Container from '@components/Container.astro';
import PageTitle from '@components/PageTitle.astro';

const pageTitle = {
	title: `Things I've made trying to put my dent in the universe`,
  desc: `A list of projects I've worked on, I'm working on and I will work on.`,
};

---
<BaseLayout>
  <Container outerClass="mt-12 sm:mt-24">
    <PageTitle
      title={pageTitle.title}
      desc={pageTitle.desc}
    />

    <div class="mt-16 sm:mt-20">
      <ul class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3">
        
      </ul>
    </div>
  </Container>
</BaseLayout>