---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import { sortPostsByDate, filterPostsByStatus } from '@utils/blogFunctions'

import BaseLayout from '@layouts/BaseLayout.astro';
import Container from '@components/Container.astro';
import PageTitle from '@components/PageTitle.astro';
import BlogCard from "@components/BlogCard.astro";
import Pagination from '@components/Pagination.astro';
import CategoryList from '@components/CategoryList.astro';
import TagList from '@components/TagList.astro';


export async function getStaticPaths({paginate}: GetStaticPathsOptions) {
    const posts = await getCollection('blogs', filterPostsByStatus).then(sortPostsByDate);
    return paginate(posts, {
      pageSize: 4
    });
}

type Props = { page: Page<CollectionEntry<'blogs'>> };

const { page } = Astro.props;
const allPosts = page.data;
---
<BaseLayout>
  <Container outerClass="mt-16 sm:mt-32">
    <PageTitle
      title="Articles"
      intro="All of my thoughts and experiences in travelling, programming, and other random stuff. Not structured."
    />
    <div class="mt-16">
      <div class="flex flex-col gap-4">

        <!-- <CategoryList />
        <TagList /> -->

        <div class="grid mt-8 md:grid-cols-2 lg:grid-cols-2">
          {
            allPosts.map((post) => (
              <BlogCard singlePost={post} />
              )
            )
          }
          </div>
        <div class="flex flex-row justify-around">
          <Pagination page={page}/>
        </div>
      </div>
    </div>
  </Container>
</BaseLayout>