---
import BaseLayout from '@layouts/BaseLayout.astro'
import Container from '@components/Container.astro'
import PageTitle from '@components/PageTitle.astro'
import { Image } from 'astro:assets'
import data from '@configs/siteConfig.json'
import social from '@configs/socialLinks.json'
import SocialLinks from '@components/SocialLinks.astro';
---
<BaseLayout>
	<Container outerClass="mt-16 sm:mt-32">
		<div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12">
			<div class="lg:pl-20">
				<div class="max-w-xs px-2.5 lg:max-w-none">
					<Image
						src={data.site.avatarImage}
                        height={300}
						width={300}
						alt=""
						sizes="(min-width: 1024px) 32rem, 20rem"
						class="rounded-2xl aspect-square rotate-3 object-cover"
					/>
				</div>
			</div>
			<div class="lg:order-first lg:row-span-2">
				<PageTitle title={"Hi, I'm John Doe."} />
				<div class="mt-6 text-base">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
					labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo
					viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam
					adipiscing. In hac habitasse platea dictumst vestibulum. Sagittis purus sit amet volutpat. Netus
					et malesuada fames ac turpis egestas. Eget magna fermentum iaculis eu non diam phasellus
					vestibulum lorem. Varius sit amet mattis vulputate enim. Habitasse platea dictumst quisque
					sagittis. Integer quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.
				</div>
				<div class="mt-6 flex gap-6">
					<SocialLinks source={social.main} className="social-icons"></SocialLinks>
				</div>
			</div>
		</div>
	</Container>
</BaseLayout>