---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Container from '@/components/Container.astro'
---
<BaseLayout>
	<Container outerClass="mt-16 sm:mt-32">
		<h1>Astro</h1>
	</Container>
</BaseLayout>
