---
import { Image } from 'astro:assets';
---
<article>
    <div class="p-4 sm:p-1">
        <div class="rounded-lg shadow">
            <a href="#">
                <img class="rounded-lg" src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="" />
            </a>
            <div class="p-5">
                <a href="#">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
                </a>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
                <a href="#" class="inline-flex items-center py-2 text-sm font-medium text-center text-primary">
                    Read more →
                </a>
            </div>
        </div>
    </div>
</article>