---
import FormattedDate from './FormattedDate.astro';

interface Props {
	date: Date;
    category: string;
    className: string;
}

const { date, category, className } = Astro.props;
---
<div class:list={["space-x-2 text-xs font-medium", className]}>
    <span class="inline-flex items-center rounded-lg p-2 bg-zinc-300/50 dark:bg-zinc-800/90 text-zinc-500 dark:text-zinc-400 ring-1 ring-inset ring-gray-500/50 mb-4">{category}</span>
    <span class=" text-zinc-500 dark:text-zinc-400">Updated On <FormattedDate date={date}></span>
</div>