---
const { outerClass, innerClass } = Astro.props
---
<div class:list={["mx-auto sm:px-8 max-w-full lg:px-10", outerClass]}>
    <div class:list={["relative mx-auto max-w-2xl lg:max-w-6xl px-4 sm:px-10 lg:px-12",innerClass]}>
        <slot />
    </div>
</div>