---
import { HeaderLinks } from '@configs/configs'
import Link from './LinkMod.astro';
---

<div id="drawer" class="fixed inset-0 h-0 z-40 overflow-hidden flex flex-col items-center justify-center backdrop-blur md:hidden bg-neutral-200/70 px-3 text-sm font-medium text-neutral-800 ring-1 ring-neutral-900/20 dark:bg-neutral-900/70 dark:text-neutral-300  dark:ring-neutral-100/20 transition-[height] duration-300 ease-in-out">
  <nav class="flex">
    <ul class="flex flex-col space-y-3 p-10">
    {
      HeaderLinks.map((link) => {
        return (
          <li>
            <Link href={link.url} className='py-2 px-6 h-10 rounded-full w-full'>
              {link.title}
            </Link>
          </li>
        );
      })
    }
    </ul>
  </nav>
</div>

<style>
  #drawer.open {
    @apply h-full;
  }
</style>