---

---
<article>
    <div class="p-4  sm:p-1">
        <div
        class="md:flex gap-4 rounded-lg shadow p-5"
        >
        <time
            class="mt-1 md:block relative z-10 order-first mb-3 flex items-center text-sm"
            datetime="2023-12-16"
        >
            December 16, 2023
        </time>
        <div class="grid grid-cols-1 md:px-5">
            <h2
            class="text-balance mb-2 text-2xl font-bold tracking-tight"
            >
            This is Title Understanding as const type assertion in TypeScript
            </h2>
            <p class="relative z-10 mb-2 font-normal">
            This is description
            </p>
            <a
            href="#"
            class="inline-flex items-center py-2 text-sm font-medium text-center text-primary"
            >
            Read more →
            </a>
        </div>
        </div>
    </div>
</article>