---
const { title = "", intro="" } = Astro.props;
---

<section>
    <div class="max-w-3xl">
      <h2 class="text-4xl font-bold tracking-light md:text-balance">{title}</h2>
      <p class="mt-6 text-base text-balance">{intro}</p>
    </div>
</section>