---
const { source, className } = Astro.props;
import { Icon } from 'astro-icon/components'

export interface ISocial {
  name?: string;
  link?: string;
  icon?: string;
}
---
{
    source.map((social: ISocial) => (
        <a
            aria-label={social.name}
            href={social.link}
            target="_blank"
            rel="noopener noreferrer nofollow"
        >
            <span class="sr-only">{social.name}</span>
            <Icon name={social.icon} />
        </a>
    ))
}