---

---
<button
  id="dmToggle"
  aria-label="Dark mode toggle"
  class="rounded-full px-3 py-2 shadow-lg backdrop-blur transition dark:bg-zinc-800 bg-white/90 dark:text-white"
  transition:persist></button>

<script>
  const darkButton = document.getElementById("dmToggle");
  //Checks for localStorage of a theme, if so render the correct class and icon
  function checkTheme() {
    const currentTheme = localStorage.getItem("theme");
    if (currentTheme && currentTheme === "dark") {
      document.documentElement.classList.add("dark");
      darkButton.innerHTML =
        "<svg aria-hidden='true' focusable='false' height='1em' role='presentation' viewBox='0 0 24 24' width='1em' > <g fill='currentColor'> <path d='M19 12a7 7 0 11-7-7 7 7 0 017 7z' /> <path d='M12 22.96a.969.969 0 01-1-.96v-.08a1 1 0 012 0 1.038 1.038 0 01-1 1.04zm7.14-2.82a1.024 1.024 0 01-.71-.29l-.13-.13a1 1 0 011.41-1.41l.13.13a1 1 0 010 1.41.984.984 0 01-.7.29zm-14.28 0a1.024 1.024 0 01-.71-.29 1 1 0 010-1.41l.13-.13a1 1 0 011.41 1.41l-.13.13a1 1 0 01-.7.29zM22 13h-.08a1 1 0 010-2 1.038 1.038 0 011.04 1 .969.969 0 01-.96 1zM2.08 13H2a1 1 0 010-2 1.038 1.038 0 011.04 1 .969.969 0 01-.96 1zm16.93-7.01a1.024 1.024 0 01-.71-.29 1 1 0 010-1.41l.13-.13a1 1 0 011.41 1.41l-.13.13a.984.984 0 01-.7.29zm-14.02 0a1.024 1.024 0 01-.71-.29l-.13-.14a1 1 0 011.41-1.41l.13.13a1 1 0 010 1.41.97.97 0 01-.7.3zM12 3.04a.969.969 0 01-1-.96V2a1 1 0 012 0 1.038 1.038 0 01-1 1.04z' /> </g> </svg>";
    } else {
      document.documentElement.classList.remove("dark");
      darkButton.innerHTML =
        "<svg viewBox='0 0 15 15' width='1.2em' height='1.2em' class='w-5 h-5 text-foreground'><path fill='currentColor' fill-rule='evenodd' d='M2.9.5a.4.4 0 0 0-.8 0v.6h-.6a.4.4 0 1 0 0 .8h.6v.6a.4.4 0 1 0 .8 0v-.6h.6a.4.4 0 0 0 0-.8h-.6V.5Zm3 3a.4.4 0 1 0-.8 0v.6h-.6a.4.4 0 1 0 0 .8h.6v.6a.4.4 0 1 0 .8 0v-.6h.6a.4.4 0 0 0 0-.8h-.6v-.6Zm-4 3a.4.4 0 1 0-.8 0v.6H.5a.4.4 0 1 0 0 .8h.6v.6a.4.4 0 0 0 .8 0v-.6h.6a.4.4 0 0 0 0-.8h-.6v-.6ZM8.544.982l-.298-.04c-.213-.024-.34.224-.217.4A6.57 6.57 0 0 1 9.203 5.1a6.602 6.602 0 0 1-6.243 6.59c-.214.012-.333.264-.183.417a6.8 6.8 0 0 0 .21.206l.072.066l.26.226l.188.148l.121.09l.187.131l.176.115c.12.076.244.149.37.217l.264.135l.26.12l.303.122l.244.086a6.568 6.568 0 0 0 1.103.26l.317.04l.267.02a6.6 6.6 0 0 0 6.943-7.328l-.037-.277a6.557 6.557 0 0 0-.384-1.415l-.113-.268l-.077-.166l-.074-.148a6.602 6.602 0 0 0-.546-.883l-.153-.2l-.199-.24l-.163-.18l-.12-.124l-.16-.158l-.223-.2l-.32-.26l-.245-.177l-.292-.19l-.321-.186l-.328-.165l-.113-.052l-.24-.101l-.276-.104l-.252-.082l-.325-.09l-.265-.06l-.292-.053Zm1.86 4.318a7.578 7.578 0 0 0-.572-2.894a5.601 5.601 0 1 1-4.748 10.146a7.61 7.61 0 0 0 3.66-2.51a.749.749 0 0 0 1.355-.442a.75.75 0 0 0-.584-.732c.062-.116.122-.235.178-.355A1.25 1.25 0 1 0 10.35 6.2c.034-.295.052-.595.052-.9Z' clip-rule='evenodd'></path></svg>";
    }
  }

  // Runs the checkTheme function on page load
  window.addEventListener("load", checkTheme);

  //toggles theme with .btn click event using .dark theme class
  darkButton?.addEventListener("click", () => {
    const currentTheme = localStorage.getItem("theme");

    currentTheme === "dark"
      ? window.localStorage.setItem("theme", "light")
      : window.localStorage.setItem("theme", "dark");
    checkTheme();
  });

  //VIEWTRANSITION event listener that enables the checkTheme fuction to run on page transition
  document.addEventListener("astro:after-swap", checkTheme);
</script>
