---
import Head from "@/components/Head.astro"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
import MobileDrawer from "@/components/MobileDrawer.astro"
import PageFind from "@components/PageFind.astro";

// type Props = {
//   title: string;
//   description: string;
// };

// const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en" class="text-base h-full antialiased">
  <head>
    <Head />
  </head>
  <body class="break-words leading-6 transition-colors duration-500 ease-in-out bg-neutral-200 text-neutral-800 dark:bg-neutral-900 dark:text-neutral-300">
    <div class="flex flex-col min-h-screen">
      <Header />
      <MobileDrawer />
      <main class="flex-1">
        <slot />
      </main>
      <Footer />
      <PageFind />
    </div>
  </body>
</html>