---
import BaseHead from '../components/common/BaseHead.astro'
---
<!doctype html>
<html lang="en" class="text-base h-full antialiased">
    <BaseHead />
    <body class="flex light bg-background text-foreground min-h-screen break-words leading-6 transition-colors duration-500">
        <slot />
    </body>
</html>