---
import BaseHead from '../components/common/BaseHead.astro'
import '@fontsource-variable/inter';
---
<!doctype html>
<html lang="en">
    <BaseHead />
    <body class="flex h-full dark bg-background text-foreground">
        <slot />
    </body>
</html>