---
import BaseHead from '@components/BaseHead.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import Container from '@components/Container.astro'
---
<!doctype html>
<html lang="en" class="text-base h-full antialiased">
    <head> 
        <BaseHead />
    </head>
    
    <body class="flex flex-col bg-background text-foreground min-h-screen break-words leading-6 transition-colors duration-500">
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
    </body>
</html>