---
import BaseHead from '../components/common/BaseHead.astro'
---
<!doctype html>
<html lang="en" class="text-base h-full antialiased">
    <BaseHead />
    <body class="flex h-full dark bg-background text-foreground">
        <slot />
    </body>
</html>